<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
</head>

<body>
    <form method="POST" action="/emp">
        {% csrf_token %}

        <fieldset style="position: absolute; left: 30%; background-color: aqua; width: 40%;">
            <legend>
                PÁGINA DE CADASTRO
            </legend>
            <div>
                <div>
                    <p>Nome do setor:</p>{{ form.eid }}
                </div>
                <div>
                    <p>Funcionarios:</p>{{ form.ename }}
                </div>
                <div>
                    <p>Fornecedores:</p>{{ form.eemail }}
                </div>
                <div>
                    <p>Produtos:</p>{{ form.econtact }}
                </div>
                <div>
                    <p>Empresas terceiras:</p>{{ form.econtact }}
                </div>
                <div style="text-align: center;">
                    <br>
                    <button style="cursor: pointer;" type="submit">SALVAR</button>
                </div>
            </div>
    
        </fieldset>
    </form>
</body>

</html>