<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Record</title>
    {% load static %}
</head>

<body>
    <a style="color: blue; position: absolute; left: 33%; text-decoration-line: none;" href="/emp">Adicionar dados</a>
    <br>
    <table border="1" style="position: absolute; top: 5%; left: 15%;">
        <thead>
            <tr>
                <th>Nome do setor</th>
                <th>Funcionarios</th>
                <th>Fornecedores</th>
                <th>Produtos</th>
                <th>Empresa terceira</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.eid }}</td>
                <td>{{employee.ename}}</td>
                <td>{{employee.eemail}}</td>
                <td>{{employee.econtact}}</td>
                <td>{{employee.econtact}}</td>
                <td>
                    <a href="/edit/{{ employee.id }}">Edit</a>
                    <a href="/delete/{{employee.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
</body>

</html>